<h1>homework</h1>
<div class="center jumbotron">
  <div id="linkweb" style=" <a href="https://www.baidu.com/s?wd=display%3Ainline&tn=44039180_cpr&fenlei=mv6quAkxTZn0IZRqIHckPjm4nH00T1YLPHb3Pjcdm1msPj6zmhnY0ZwV5Hcvrjm3rH6sPfKWUMw85HfYnjn4nH6sgvPsT6KdThsqpZwYTjCEQLGCpyw9Uz4Bmy-bIi4WUvYETgN-TLwGUv3EnHRsrH6krHcsnWbLrjf1PWb3n0" target="_blank" class="baidu-highlight">display:inline</a>;"></div> 
<script> 
  setInterval("document.getElementById('linkweb').innerHTML=new Date  ().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay  ());",1000); 
</script> 

<p>
<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
</p>
<li><%= link_to "user",users_path %></li>
